[2019-06-28 09:17] andytudhope opened #2 "Implementation Review Fixes"
There are a good number of small stylistic fixes to be done based on the Implementation Review, as it appears that the team responsible for building v2 did not export the styles exactly as they are described in Figma.

Currently, there are 24 minor issues to be fixed, all of which can be found under the "Implementation Review" page in [this link](https://www.figma.com/file/MYWmd1buvc2AMvUmFP9w42t5

[2019-06-28 10:13] iamonuwa commented on #2
Of course. Hit me up on Twitter let's fix it. 😁

[2019-06-28 15:08] andytudhope commented on #2
2 other issues while we're at it.

1. When you submit a DApp, the pop-up box at the top still contains filler text for the description, rather than the text you enter.

2. In the "Highest Ranked" section, only the description should show, NOT the url - as shown in the designs. Clicking on the image or description should still take you to that DApp's description page on dap.ps

[2019-07-01 09:26] andytudhope commented on #2
Fixed by https://github.com/dap-ps/discover/commit/a4e5c82ecef789daa5fe18c62cf984a6f921f343

[2019-07-01 09:26] #2 closed

[2019-07-01 10:55] churik opened #4 "Endless "Waiting confirmation of the network" at attempt to upvote app with empty balance or if you cancel transaction"
**Steps:**
- create account
- open http://dev.dap.ps with empty balance
- try to Upvote Dapp

**Expected result:** no popup is shown
**Actual result:**
<img width="230" alt="dsfsdf" src="https://user-images.githubusercontent.com/4557972/60431136-4fd78180-9bff-11e9-8a62-f38e87740b44.png">

[2019-07-01 11:48] churik opened #6 "Can't use decimals in SNT amount for upvote"
Is it by design?

[2019-07-01 11:49] asemiankevich opened #7 "Error show when adding a dapp on mainnet, should be a warning instead"
If dapp is not available on mainnet, then user should be notified. So, do not allow to sign transaction which will result in an error -> and money loss (for gas payments)

![image](https://user-images.githubusercontent.com/28752642/60434152-2fafbe80-9c0f-11e9-916f-6d64bdb27918.png)

[2019-07-01 12:57] churik opened #8 "Rank values in "Upvote", "Downvote" pages are different from values in Dapp page"
**Steps:**
- create account
- open http://dev.dap.ps
- tap to open any dapp
- open "Upvote", "Downvote" for this app and compare results for "№n in category"

<img width="701" alt="123" src="https://user-images.githubusercontent.com/4557972/60438206-794cd900-9c10-11e9-8316-0b7cf48bf2af.png">

[2019-07-01 13:09] asemiankevich opened #10 "Categories are not working"
View all link is not working (dev.dap.ps/discover-dapps/all)
Categories itself are not working at all -> can't see any dapp inside any category

![image](https://user-images.githubusercontent.com/28752642/60438982-938bb480-9c1a-11e9-98ca-c32b4c20c7c3.png)

[2019-07-01 13:57] andytudhope commented on #10
This works well on my (release) version of Status?

[2019-07-01 13:59] andytudhope commented on #9
There may be issues in firefox with fetching anything from IPFS (there is locally). Honestly not sure how to check or fix this though as I can't reproduce in Firefox or Brave....

[2019-07-01 14:00] andytudhope commented on #7
I think it would be best to make this an issue to insert a check for which network the user is on, and warn them if they are on a development network in prep for mainnet release.

[2019-07-01 14:01] andytudhope commented on #6
Yes, it makes the math calculations in the contract much simpler.

[2019-07-01 14:01] #6 closed

[2019-07-01 14:06] asemiankevich commented on #10
well i checked on Nightly and latest develop , maybe i was not clear in steps so here they are:

- open staus
- open dev.dap.ps
- tap view all
- try to drill into any category -> it is not tappable also not showing anything inside
- tap back button
- tap the http://dev.dap.ps/discover-dapps/all shortcut

[2019-07-01 14:21] andytudhope commented on #11
Look how useful that new UI is!! Took me 2 days to suspect this. Nice find and will get this fixed ASAP.

[2019-07-01 14:23] andytudhope commented on #10
It's not showing anything inside because there is currently nothing inside them. Trying to submit a new DApp using another category to test that the mapping is working, but not having any luck right now for some reason submitting at all.

They headers are not tappable either.

If I go

dev.dap.ps
tap back button
go to home screen

No problem?

[2019-07-03 09:55] andytudhope commented on #10
What is much weirder is that some of the category mappings don't seem to work reliably. See this new test I did, called "Category Test".

1. Follow usual flow to submit DApp.
2. Select EXCHANGES as category and put in a description.
3. Submit and stake some SNT.
4. Approve DApp using postman.

See that the category I selected is not mapped correctly (and nothing appears under it), and that, in the

[2019-07-03 12:58] iamonuwa commented on #9
This is a case with the idb, I'll take a look at the configuration. Most times it does not store cached data from IPFS.

[2019-07-03 13:19] iamonuwa commented on #13
I can't find "Edit Metadata" option on both my Status and Brave browsers.

[2019-07-03 13:36] kstoykov commented on #10
Hello, all the categories were hardcoded in the app. How did you created new category?

Best regards,

Kamen

From: Andy Tudhope [mailto:notifications@github.com]
Sent: Wednesday, July 3, 2019 12:55 PM
To: dap-ps/discover <discover@noreply.github.com>
Cc: Kamen Stoykov <k.stoykov.bp@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [dap-ps/discover] Categories are not working (#10)

Wh

[2019-07-04 08:19] iamonuwa commented on #7
Is there a UI for this?

[2019-07-04 08:23] asemiankevich commented on #7
i dont think so

[2019-07-04 08:32] iamonuwa commented on #8
This error is coming from the categories. The dapps having zero category position on the vote screen are so because they are not categorized.

[2019-07-04 08:33] andytudhope commented on #13
@iamonuwa it has to be on a DApp that you have submitted. If you still can't find it (bottom of the DApp's profile screen) submit a new one, and I will approve it, after which you should see those 2 buttons appear.

[2019-07-04 08:33] iamonuwa commented on #13
I have 2 dapps I submitted. The *Cats*.

[2019-07-04 08:34] andytudhope commented on #10
EXCHANGES is one of the existing categories @kstoykov - we did not create a new one?

[2019-07-04 08:34] iamonuwa commented on #7
@andytudhope how do you want it to look like?

[2019-07-04 08:35] iamonuwa commented on #8
We could update it other screens to show zero for none categorized dapps.

[2019-07-04 08:36] andytudhope commented on #13
Well, if you can't see the buttons, just submit a new one and I will approve (there was some small issues with approvals earlier, so that might have affected _Cats_, for instance).

[2019-07-04 08:45] iamonuwa commented on #13
I'll create one in 1 hour as the Rate Limiter has blocked me till 1 hour

[2019-07-04 08:53] andytudhope commented on #13
I'm also being blocked, may be something else because @Perseverance deployed a new version with a fixed contract to handle #11 yesterday - let's wait and see and, yeah, try again in an hour.

We should probably think of upping that rate limiter too, seems pretty restrictive atm.

[2019-07-04 09:01] kstoykov commented on #10
Oh, I got it now. I misunderstood you. I though you created a new category J.

So the dapp you created does not appear anywhere, right?

Usually you have to wait for transaction to finish, but I suppose you have done it.

Which server did you created the app on – locally? I mean can I see it somewhere? Also if you open the application with different browser do you see the dapp you created?

Best r

[2019-07-04 09:07] iamonuwa commented on #13
Dev environment should have a friendly rate limiter. Production should be more strict

[2019-07-04 09:13] errorists commented on #7
@andytudhope ok I've added a warning, [Figma](https://www.figma.com/file/MYWmd1buvc2AMvUmFP9w42t5/Browser?node-id=3033%3A68)

[2019-07-04 09:18] iamonuwa commented on #7
@andytudhope is the production environment running with testnet network? I need to know if I should check which network the user is on and display that message or not

[2019-07-04 09:33] andytudhope commented on #10
No, it does not - apart from the Highest Ranked list. I did wait for the tx to be confirmed and have even approved the DApp using the API. It's created on dev.dap.ps - it seems EXCHANGE as a category does not work, as well as most of the others (though I haven't personally tested all of them).

[2019-07-04 09:35] andytudhope commented on #7
There is no production environment yet. https://dev.dap.ps is on Ropsten and the live site has no blockchain connection at all because it's not using the contract yet. I would recommend handling #14 first, and then coming back to this.

Like I said above, I think the check should be a simple identification of which network the user is on, and then a warning if they are NOT on the main network (in

[2019-07-04 09:46] andytudhope commented on #14
@iamonuwa there is 150 DAI bounty on this, still getting the same rpc error to do with gas when trying to pay the 10% bounty fee to Gitcoin, so can't issue bounties properly :disappointed:

[2019-07-04 10:00] iamonuwa commented on #14
Reach out to the team for them to resolve this

[2019-07-04 10:02] andytudhope commented on #14
have already done so

[2019-07-04 10:03] iamonuwa commented on #14
They'll go through it and fix it then

[2019-07-04 10:52] kstoykov commented on #10
I’ll check it and I’ll let you know as soon as possible.

From: Andy Tudhope [mailto:notifications@github.com]
Sent: Thursday, July 4, 2019 12:33 PM
To: dap-ps/discover <discover@noreply.github.com>
Cc: Kamen Stoykov <k.stoykov.bp@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [dap-ps/discover] Categories are not working (#10)

No, it does not - apart from the Highest Ranked list. I

[2019-07-04 11:18] iamonuwa commented on #14
@errorists app is already using grid to calculate width

[2019-07-04 11:45] errorists commented on #14
@iamonuwa can we have a breakpoint for mobile devices (so <480px) to lay out the grid in a pattern where each cell is +/- the desired width. On mobile they get super small where the intention was to have a single cell taking up all the available space and only leaving 16px for other cards. Even an approximation where each card is 90% screen width would be better. Also the margin between cells shou

[2019-07-04 11:58] iamonuwa commented on #14
Cool

[2019-07-10 23:29] iamonuwa commented on #14
Am currently rewriting the modal to accomodate this UI fixes. There should be a header, content and body for the modal. I'll send in the PR for this morning.

[2019-07-15 09:00] andytudhope commented on #11
Fixed in https://github.com/dap-ps/discover/commit/c72a17f826df095dbb09fcdfa183aec263097e40

[2019-07-15 09:04] andytudhope commented on #13
This has been fixed in the latest version - see Brave Test, "now edited".

[2019-07-15 09:05] andytudhope commented on #4
FIxed in https://github.com/dap-ps/discover/pull/15

[2019-07-15 09:05] #4 closed

[2019-07-15 09:06] andytudhope commented on #5
Fixed in https://github.com/dap-ps/discover/pull/15

[2019-07-15 09:08] andytudhope commented on #8
I'm not sure I agree with your assessment here @iamonuwa... The DApps are categorized (as shown on the Profile Page), but this categorization seems not to be passed over to the Vote modal, hence the error.

Anyway, we have a new version deployed, so please test this again @churik and let me know if the same issue is still happening so that I can put a proper bounty on this.

[2019-07-15 09:11] andytudhope commented on #10
@iamonuwa if you try to navigate directly to http://dev.dap.ps/discover-dapps/all, then the site does not load. This is an issue with React, do you have any ideas on how best to fix it so that any kind of weird route people choose, they'll still get to some part of the site?

[2019-07-15 09:22] andytudhope commented on #14
@iamonuwa can you confirm that you have addressed all the above? I have one more note here:

Through all the fixes, we have messed up the columns for each section, and they're behaving very differently, which should not happen.

**On mobile:**
Each section should contain 3 DApps in each column. They should load 1 below the other and, after more than 3 appear in that section, it should scroll horiz

[2019-07-15 09:25] andytudhope commented on #9
@corpetty we have deployed a new version. Can you please check this issue again and lmk if I can close it, or if you can still reproduce?

[2019-07-15 10:35] iamonuwa commented on #14
I'll take a look now

[2019-07-17 10:36] andytudhope commented on #14
@iamonuwa what is the status here and - like on the other issue - can you tell me how much time you have spent on the above so I can create an appropriate bounty?

[2019-07-20 21:03] iamonuwa commented on #10
See our conversation for this here https://github.com/status-im/discover-dapps/issues/31#issuecomment-484847833

[2019-07-23 08:24] andytudhope commented on #7
@iamonuwa finally got bounties working again :wink: Feel like having a go here now?

[2019-07-23 08:24] andytudhope commented on #8
@churik could you please test this again to make sure it has been fixed?

[2019-07-23 09:15] iamonuwa commented on #14
Spent 8 productive hours and 2 unproductive hours. I was sick last weekend. But will be cleared today to resume work. I'll finish this and let you know the total hours spent

[2019-07-23 18:49] iamonuwa commented on #14
@andytudhope @errorists PTAL https://www.dropbox.com/s/nfvbejqhby0k1r1/Status%20Grid.mp4?dl=0

[2019-07-24 10:38] andytudhope commented on #14
OK, this looks mostly good to me. For some reason, the Social Networks card is center-aligned on the mobile view in that vid though?

Otherwise, I think we're good to go here.

[2019-07-24 10:47] iamonuwa commented on #14
Oh! Didn't see this. I've fixed it now.

Like I said, I could either rewrite it or use an existing react modal component as a wrapper to get it done. It will be ready today

[2019-07-26 14:37] andytudhope commented on #14
Fixed in #8

[2019-07-26 14:37] andytudhope commented on #8
Fixed in #8

[2019-07-26 14:37] #8 closed

[2019-07-26 14:38] andytudhope commented on #7
Fixed in #19

[2019-07-26 14:38] #7 closed

[2019-07-26 14:41] andytudhope commented on #10
It seems to me that, in this line, we just need to make sure that the ENV variable is not set to `development` and we should be ok, right @iamonuwa

https://github.com/dap-ps/discover/blob/master/src/common/redux/store.js#L8

[2019-07-26 14:44] iamonuwa commented on #10
If its hosted on GitHub pages, Yes

[2019-07-26 15:01] iamonuwa commented on #10
Correct.

[2019-08-08 11:48] bgits opened #5 "Link for dai is outdated"
Link should be cdp.makerdao.com

![Screenshot_20190808-130518](https://user-images.githubusercontent.com/4020296/62700812-d62a7480-b9b0-11e9-9318-6af924fe98fc.jpg)

[2019-08-08 17:37] jakubgs opened #9 "React handles paths on client side, but server does not"
## Description

Because React apps are contained all within one JS file which is loaded by `index.html` by default the Express.js server does not handle any other paths than what is present in the `frontend` folder.

## Reproduction

1. Go to https://dev.dap.ps and click "View All" just above the Categories.
2. This will take you to https://dev.dap.ps/discover-dapps/all
3. However, if you try and

[2019-08-08 17:40] jakubgs commented on #9
The way this works right now is that the Express.js server simply hosts what's inside the `frondend` folder which is generated by the build process:
https://github.com/dap-ps/discover/blob/19608fadc5c96a9c0f745cab2cac2a21faf7b356/back-end/server.js#L25
Which means only files that are present there are hosted by the server:
[code]
So anything that isn't there returns `404`:
[code]

[2019-08-08 17:42] jakubgs commented on #9
Here's a proposed fix: #10
Simply return `index.html` for any path that doesn't match any file we have.

[2019-08-08 17:54] jakubgs commented on #9
Deployed:
[code]

[2019-08-09 09:10] #9 closed, assigned to jakubgs

[2019-08-09 09:14] asemiankevich opened #11 "Can publish a dapp with 0 STT"
Android 8

can publish a dapp with 0 STT

Steps:
1. open dev.dap.ps
2. tap submit a dapp
3. fill in the form and submit
4. do not enter any value into SNT field and tap Publish

![image](https://user-images.githubusercontent.com/28752642/62768263-2a138700-ba9f-11e9-83e6-0da0406987b1.png)

[2019-08-09 09:24] churik opened #12 "Can't submit new dapp on IOS"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: can't submit new Dapp on IOS on both latest nightly and release with different errors.

#### Expected behavior
can  submit new dapp

#### Actual behavior
For nightly:
![IMG_2D3D3C3C5649-1](https://user-images.githubusercontent.com/4557972/62768658-9c806900-ba97-11e9-96af-26904f8caf37.jpeg)
For Release:
![IMG_45F92

[2019-08-09 10:01] churik opened #13 "Navigation issues"
IMO it is better to keep all navigation issues in one place.

- [ ] /#how-to-submit > tap on any link > go back browser button> you will be again on main page

- [ ] /#submit > Terms and conditions (on the bottom of the page) > no possibility to go back to /#submit, so you will lose all your data if tap back browser button

- [ ] /#submit > submit dapp with some STT value > redirect to Terms and c

[2019-08-09 10:45] churik opened #14 "For apps < 100 SNT downvoting costs 0 SNT, so it is not working"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: as far as I understand value for downvoting is calculated automatically and if app published with SNT value < 100, value for downvoting is 0 SNT, it doesn't affect to app rank

#### Expected behavior
value for downvote is not 0

#### Actual behavior
![photo_2019-08-09 12 34 33](https://user-images.githubuserconten

[2019-08-09 11:00] churik opened #15 "Tapping on Upvote or Downvote with active transaction close "Waiting for confirmation" banner"
### Reproduction

- Open dev.dap.ps
- Tap "Upvote" on any dapp, sign transaction
- Tap on Upvote or Downvote one more time

#### Expected behavior
banner with transaction is still shown

#### Actual behavior
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/4557972/62774567-5fbb6e80-baa5-11e9-99bb-c3628278f5c8.gif)

### Additional Information

[comment]: # (Please do your best to

[2019-08-09 11:21] churik opened #16 "dev.dap.ps is empty on IOS (develop 09.08.2019)"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: no dapps on dev.dap.ps on latest nightly, but they are shown for release 0.13.0

#### Expected behavior
can see dapps list

#### Actual behavior
![IMG_A0A94BB6095F-1](https://user-images.githubusercontent.com/4557972/62775626-7911ea00-baa8-11e9-8aa3-89667beff3e1.jpeg)

### Reproduction

[comment]: # (Describe how

[2019-08-09 12:11] churik opened #17 "Status crashes at attempt to set video for icon when submitting dapp"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: crash at attempt to set video as icon on "Submit DApp" page

#### Expected behavior
No option for video.
Actually on IOS 13.0 (still in beta) there is no option, but on latest IOS (12.4) it is still the case.

#### Actual behavior

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.

[2019-08-09 14:28] asemiankevich commented on #17
**NOTE:** i can't see [Video] option on iOS 13 beta4 , seems iOS versioning dependant
![image](https://user-images.githubusercontent.com/28752642/62786364-1847d900-bacb-11e9-9beb-d4c99ddb2ac4.png)

[2019-08-09 14:37] asemiankevich opened #18 "Broken alignment at Highest rank / Recently added sections"
Alignment is broken in Recently added and Highest Rank sections. Please:

1. Center [upvote / downvote] buttons
2. Align all the buttons so they are not cut at the right

![image](https://user-images.githubusercontent.com/28752642/62786871-2a764700-bacc-11e9-9c42-191265692914.png)

[2019-08-09 14:41] asemiankevich opened #19 "Rank SNT placeholder is not removed from the field"
When submitting a dapp i am redirected to DAPP RATING screen , where i am supposed to enter some SNT value. When i tap into the field - > placeholder ( 0 ) is not removed automatically.

Steps:
1. open dev.dap.ps
2. tap submit a dapp
3. fill in the form and submit
4. tap into SNT value field

![image](https://user-images.githubusercontent.com/28752642/62787170-d3bd3d00-bacc-11e9-8948-eddf1071f1b7.

[2019-08-09 14:44] churik opened #20 "No scrollbars for Discover, Highest Ranked, Recently added sections and "How to submit Dapp", "Terms" pages"
### Summary

On main page of dev.dap.ps it is not obvious that you can scroll horizontally for full list.
For better visibility I would suggest to add the horizontal scrollbar, like on this screen:
![IMG_084332DEAC0E-1](https://user-images.githubusercontent.com/4557972/62785212-7ae7a780-bac0-11e9-84d3-759e6fb0d7d5.jpeg)
Now there is no scrollbar shown:

![ezgif com-video-to-gif (3)](https://user-i

[2019-08-09 14:55] asemiankevich opened #21 "Can't close Published tooltip"
Published tooltip could not be closed

![image](https://user-images.githubusercontent.com/28752642/62788060-cf921f00-bace-11e9-98a0-031181ed401e.png)

[2019-08-09 14:57] asemiankevich opened #22 "Wrong tooltip for Upvote / Downvote actions"
If user upvotes/downvotes dapp -> after txn is confirmed he sees [Published] tooltip, which is confusing. Please show:

1. Upvoted when transaction for upvote is confirmed
2. Downvoted when transaction for downvote is confirmed

![image](https://user-images.githubusercontent.com/28752642/62788210-213aa980-bacf-11e9-9d1b-9d4b7cb36c4f.png)

[2019-08-09 14:58] churik opened #23 "Categories in /discover-dapps/all are jumping on scrolling"
Categories are jumping in the list when new catogory goes to header.
![ezgif com-video-to-gif (4)](https://user-images.githubusercontent.com/4557972/62787858-f435c900-bac5-11e9-9c20-7554911d052f.gif)

**Steps:**
- open /discover-dapps/all
- scroll smoothly

[2019-08-09 15:02] asemiankevich opened #24 "Confirmation for downvote is never shown"
User always see Waiting for confirmation even when txn has reach more than 12 confirmations already

![image](https://user-images.githubusercontent.com/28752642/62788553-cfdeea00-bacf-11e9-974c-56c444c844ef.png)

[2019-08-09 15:20] churik opened #25 "When Utilities is selected in "Categories", icon for it is not shown in dropdown on IOS"
### Reproduction

- Open dev.dap.ps
- Tap on any catergory (i.e. `Exchanges`)
- Select "Utilities" in dropdown
- open dropdown again

#### Expected behavior
can see icon

#### Actual behavior
![IMG_B57448DC08DB-1](https://user-images.githubusercontent.com/4557972/62789414-272d8c00-bac9-11e9-8710-31ab8fa86813.jpeg)

### Additional Information

[comment]: # (Please do your best to fill this out.)
-

[2019-08-09 15:26] andytudhope commented on #11
This is expected behaviour.

[2019-08-09 15:26] #11 closed, assigned to nobody

[2019-08-09 15:28] andytudhope commented on #12
I don't have an IOS device or an easy way of emulating one... Will try and reproduce this with the nightly tomorrow and see where we get to from there.

[2019-08-09 15:30] andytudhope commented on #13
OK, so we can make navigating through the submit screens easier as per 1. and 2. It should

a. Save the state so that if there is an error, or you want to go back you don't have to fill in your info again.
b. Be easy to move between pages, rather than going back all the way to the beginning.

Point 4 is down to Status-specific behaviour I think and is not something we can easily fix.

[2019-08-09 15:31] andytudhope commented on #14
This is expected behaviour. You have to downvote always by 1% of the current rank, so it is not possible to downvote DApps with less than 100 SNT staked. This makes sense conceptually too, as we don't want people trolling those with very little SNT.

[2019-08-09 15:31] #14 closed, assigned to nobody

[2019-08-09 15:33] andytudhope commented on #15
Yeah, I think we can make the transaction queue and that tracking box more clever in general. @Perseverance - you had some ideas on this. Would you like me to make a bounty here for this iisue specifically for you and Limechain to take on at your leisure?

[2019-08-09 15:34] andytudhope commented on #16
Yeah, this was likely because we were working on it at the moment you tried. I am fairly sure this is fixed now so am happy to close. If you feel differently, please re-open.

[2019-08-09 15:35] andytudhope commented on #17
This is dope edge case to find :heart: But I think I will close here as this is more a Status issue than our issue and we just need to make sure only the photo option is accessible. What is weird is that different iOS versions have different options...

[2019-08-09 15:35] #17 closed, assigned to nobody

[2019-08-09 15:40] andytudhope commented on #18
@iamonuwa quick 60DAI bounty for this? The scss for the grids is exactly the same, but the numbers for the Highest Ranked section mean the divs for DappListItems are slightly smaller. Would be awesome to get this fixed quickly.

[2019-08-09 15:42] iamonuwa commented on #18
Fixing this immediately

[2019-08-09 15:55] andytudhope commented on #19
Yeah, the fact that the 0 isn't removed on tap has also been annoying me. Wanna try fix this while you're at it @iamonuwa - can make another small bounty here too.

[2019-08-09 15:56] churik opened #26 ""DApp was not uploaded in the client" at attempt to upload dapp with empty email"
### Description

*Type*: Bug

*Summary*: when submitting DApp with empty email - "DApp was not uploaded in the client"  after setting SNT.

#### Expected behavior
email is required and vaildated on "Submit Dapp" page

#### Actual behavior
"DApp was not uploaded in the client" after submitting

### Reproduction

- Open dev.dap.ps
- Submit dapp with empty email
- Set amount in SNT
- Tap on "Publish"

[2019-08-09 15:57] andytudhope commented on #20
The scroll bars are there on some devices, and also even in that screenshot (just the slim grey line at the bottom on scroll. It is as designed. Hopefully with the alignment fix, you should see the edge of other columns on the right of the screen - as in the designs - and so know that there is more if you scroll right. Will close here once we fix the alignment in Recently Added.

[2019-08-09 15:58] andytudhope commented on #21
Ah, this is another cool edge case! There is a close button, but it's below the header on this page, which has a z-index set. Not sure this is a big issue, but will leave open for now.

[2019-08-09 16:00] andytudhope commented on #22
This is a good bounty too, will create it shortly.

[2019-08-09 16:02] churik commented on #20
Yes, there are srollbars on some IOS devices (as in example)
But for all devices are missing vertical srollbars for "How to submit Dapp", "Terms".
And no scrollbars at all on Android 8.

[2019-08-09 16:03] andytudhope commented on #23
I'm not 100% sure we can make this better. wdyt @iamonuwa ?

[2019-08-09 16:05] andytudhope commented on #24
I think this can be handled with #15 in terms of making the transaction handling cleverer in general.

[2019-08-09 16:07] andytudhope commented on #26
OK, another bounty here for some simple form verification then. 60 DAI now for just adding verification, another bounty later to make the whole submit process a bit smoother and make sure none of the info is lost switching between screens.

[2019-08-09 16:09] andytudhope commented on #20
meh, OK, we'll keep this open while I think about it ;) :heart:

[2019-08-09 16:15] churik commented on #16
@andytudhope
No, it is still empty for IOS on current develop. All fine on IOS (release 0.13.0) and on Android (current develop)

[2019-08-09 17:30] iamonuwa commented on #23
We can make it better 😁✊💯

[2019-08-09 19:32] andytudhope commented on #16
Can you clear your cache? It's really strange that it would work everywhere but on a specific branch & device...

[2019-08-09 19:33] andytudhope commented on #23
Haha, ok. Will bounty this too when you're done with the others.

[2019-08-10 08:37] andytudhope commented on #5
Hey @bgits :wave: Can you load cdp.makerdao.com in Status? I grant it permission, but am stuck forever with loading... on the main screen? Either way though, thanks for this note, I will update this link for launch

[2019-08-10 11:39] #18 closed, assigned to nobody

[2019-08-10 11:41] andytudhope commented on #16
Please check this again when you get a chance, would be interesting to see if it is still empty with anew contract instance etc.

[2019-08-10 12:06] bgits commented on #5
I did get it to load in Status. iOS.

On Sat, Aug 10, 2019 at 4:37 AM Andy Tudhope <notifications@github.com>
wrote:

[2019-08-10 17:06] iamonuwa commented on #19
@iamonuwa always at your service 😁✊

[2019-08-10 19:15] andytudhope commented on #26
I have cancelled this bounty as there is a bigger fix needed for this, as `Edit` is failing for some reason. Also, I want to move the `Email` field to the bottom, and have done that already locally. Apologies for the confusion.

[2019-08-10 19:15] #26 closed, assigned to nobody

[2019-08-11 06:26] andytudhope opened #31 "Fix Withdrawals Screen and Reducer"
Withdrawals were not functioning at all. I [have fixed](https://github.com/dap-ps/discover/commit/64c36241355cafe9bb68c55f358e12842f3660d6) the `withdrawMax` calc in discover-service.js but am still having issues getting the Withdraw screen right. This is a bounty issue to

1. Make the red effect bubble dynamic. It should simply show a decrease of whatever the value is that is in the input field (

[2019-08-11 06:32] andytudhope opened #32 "Fix How Edits Get Put in the DB"
I [have fixed](https://github.com/dap-ps/discover/commit/b66dbcdef9ae96ee807b46a4e88b3386d9df6dae) the original problem with edits (`A DApp was not uploaded in the client`). However, it turns out that when you edit a DApp's info, the code just uploads that DApp to the DB as a whole new object, rather than finding the correct object, updating only the appropriate fields, updating the metadata hash

[2019-08-11 06:44] andytudhope commented on #31
@iamonuwa  - 120 DAI bounty coming here to make up for the email stuff :wink:

[2019-08-12 00:06] PfanP commented on #31
Let's discuss the detail

[2019-08-12 07:32] churik commented on #16
@andytudhope it is the same for me.
Asked Nastya to check on her side.

[2019-08-12 07:46] asemiankevich commented on #16
@andytudhope same to me with iOS 13 Beta 4 (not sure if it matters).

![image](https://user-images.githubusercontent.com/28752642/62851307-5709a900-bcee-11e9-88e8-2df10096ab59.png)

![image](https://user-images.githubusercontent.com/28752642/62851310-5a9d3000-bcee-11e9-8e64-ab5df1e9134d.png)

[2019-08-12 08:24] andytudhope opened #33 "Make setting up & testing locally easy"
Currently, it is not easy to set this app up locally. While we have scripts for building the app.zip we need for development and production, these do not cater for local deployment and testing.

## Issue

From the root directory, you can run `./node_modules/.bin/embark build` (which defaults to `localhost` and deploys contracts locally), change the `_ipfsConnection.id() -> .version()` at L125 of `

[2019-08-12 08:29] andytudhope commented on #16
Yeah, it definitely matters @asemiankevich... I'm just not sure what to do about it :sweat_smile:  Is there any way you can clear your cache in Status? It's weird that it would load everywhere but on a a particular device. Any chance you could get web console logs to see if there's a clue there as to what might be happening?

[2019-08-12 08:38] andytudhope commented on #31
@domantasp @devilla I'd prefer someone who already knows the codebase to work on this as there are time constraints. However, I have created another issue for making local setup and testing easy, which is likely better to start with and not so time sensitive. Please apply there: https://github.com/dap-ps/discover/issues/33

Looking forward to a PR @iamonuwa :heart:

[2019-08-12 08:39] PfanP commented on #31
I'd like to talk the detail on Skype or Slack.
Here's my skype live:nathanmwork
Feel free to check my github profile if you need

[2019-08-12 08:40] churik commented on #16
@andytudhope I don't know how to clear cache in Status, in my case, I'm just creating new account.
And this is not about device as far as I understand - it is about the latest `develop` particularly on IOS.
All fine on 0.13.0 on IOS.

[2019-08-12 08:48] andytudhope commented on #16
Ah, so it's the Status version... OK, any logs at all that you can get would be a good starting point...

[2019-08-12 10:25] churik commented on #16
That's all I can get for IOS:
[geth.log](https://github.com/dap-ps/discover/files/3491850/geth.log)
Just in case all app data (ping me for passwords):
[im.status.ethereum.zip](https://github.com/dap-ps/discover/files/3491865/im.status.ethereum.zip)

[2019-08-12 11:39] andytudhope commented on #16
Ha, it's hilarious trying to go through that... Anyway, here are some (maybe?) relevant parts:

[code]

[2019-08-12 11:42] churik commented on #16
I believe you only need to check logs for last 10 mins (I created new account, switched to Ropsten and accessed de.dap.ps)
Sorry that didn't mention this earlier

[2019-08-12 12:49] andytudhope commented on #33
@domantasp please see the update in OP

[2019-08-12 13:34] andytudhope commented on #33
@DomantasP someone with a deeper understanding of Embark is going to work with me on fixing this, because of the subtleties of how we want it to work so that local development is easy for everyone who wants to build on this project. There are plenty of other issues to take on! I am going to cancel this bounty though, as we need to handle it in-house to get the best result.

[2019-08-12 13:36] DomantasP commented on #33
@andytudhope okay, I started digging into the problem and I can see that it's a bit more complex than I initially thought. Best of luck to you.

[2019-08-13 13:00] #33 closed, assigned to jakubgs

[2019-08-14 08:18] andytudhope commented on #32
Fixed by https://github.com/dap-ps/discover/commit/ee9c41e9746129d605f59ba1dfb568f687e145f5

[2019-08-14 08:18] #32 closed, assigned to nobody

[2019-08-14 17:25] #31 closed, assigned to nobody

[2019-08-14 18:37] andytudhope commented on #22
Fixed by https://github.com/dap-ps/discover/commit/cce1adbc4309628c5e8fb2e4ab4d136660a9df12

[2019-08-14 18:37] #22 closed, assigned to nobody

[2019-08-14 22:39] iamonuwa commented on #19
Not sure why I can't apply for this task through @gitcoinbot, but I've fixed this issue.

[2019-08-14 22:45] iamonuwa commented on #15
The confirmation is called before the try and catch block.

[2019-08-15 08:15] andytudhope opened #42 "Create a subgraph that indexes all the metadata for each DApp to replace mongoDB"
This is a fairly open bounty, ideally meant to be worked on as a hack at or around ETHBerlin.

The goal is clear though: use [The Graph](https://thegraph.com/docs/quick-start) to build a subgraph of all the [dapp metadata](https://github.com/dap-ps/discover/blob/master/back-end/models/dapps-metadata-model.js#L12) we're interested in that can be used to power the React app, rather than relying on M

[2019-08-15 09:12] andytudhope commented on #19
@iamonuwa please find a way to apply so I can approve and pay this - it was never worth 100 DAI, but was intended to make up for other work you did but were unable to test.

[2019-08-15 09:13] #19 closed, assigned to nobody

[2019-08-15 09:21] andytudhope commented on #42
No @iamonuwa - I want you to work on the UI issues you have committed to. This is not a priority.

[2019-08-15 09:25] andytudhope commented on #23
@iamonuwa you can work on this instead, before we go messing around with subgraphs.

[2019-08-15 14:39] andytudhope commented on #5
Just updated.

[2019-08-15 14:39] #5 closed, assigned to nobody

[2019-08-15 16:00] iamonuwa commented on #23
Sure! I've already taken a look at it.

[2019-08-15 16:14] andytudhope commented on #42
Reference repo: https://github.com/status-im/liquid-funding-subgraph

[2019-08-15 19:37] nanspro commented on #42
@andytudhope i have worked with graph before and am familiar with it's architecture. Here is an sample [subgraph](https://github.com/nanspro/LocalEthereum) i created for localethereum. I see you need custom metadata as shown in `DAppsMetadataSchema` which means creating custom schema models, easy to do.
I guess you are currently using mongodb and your app reads data from that. After creating a sub

[2019-08-15 20:42] andytudhope commented on #42
Hmmm, @iamonuwa applied first, but your experience and that LocalEthereum example are really persuasive. I am happy for Isaac to work on all the UI issues, which will end up amounting to a similar amount in all likelihoood.

OK @nanspro - let's do this thing. If he finishes with UI work, perhaps @iamonuwa can help adapt the frontend to also get in on the bounty action here... Let's see how it goes

[2019-08-15 21:45] nanspro commented on #42
Awesome :smile:
Starting on this in 9 hours!!

[2019-08-15 22:20] hackmyway commented on #42
Can I also work on this project?
I recently completed a production app built on top of graph node with deployment of 2 subgraphs on it.

[2019-08-16 08:49] andytudhope commented on #42
Hey @abhaykumar - thanks for the offer, but I don't have the funds (or review time!) to handle 2 separate implementations. How do you feel about web3 work in general though? I want to make how we handle transactions much more intelligent.

Currently there is far too long a pause between a tx actually confirming, and it showing up as confirmed on the site. If we want to leverage GraphQL, we'll like

[2019-08-16 08:57] flexsurfer commented on #12
the same if you try to upvote on Android, dapp doesn't ask permissions

[2019-08-16 09:16] andytudhope commented on #12
It literally just worked on Android for me, in prod. What Status version?

[2019-08-16 09:42] flexsurfer commented on #12
sorry for confusion i'm trying `prod.dap.ps` with real SNT on 0.13 Status release

[2019-08-17 01:24] bakaoh commented on #25
@iamonuwa update the svg here `discover/src/common/components/CategoryIcon/UtilitiesIcon/UtilitiesIcon.jsx` to fix the bug:

[code]

[2019-08-17 23:25] iamonuwa commented on #25
Just saw this now. I had to study the icon and came up with same fix. Thanks.

[2019-08-18 10:55] #23 closed, assigned to nobody

[2019-08-18 10:56] #25 closed, assigned to nobody

[2019-08-18 11:04] andytudhope commented on #24
See this comment for more detail: https://github.com/dap-ps/discover/issues/42#issuecomment-521937311

@iamonuwa will take this on for a bounty, and will post his approach below so that @richard-ramos and I can also discuss best steps.

[2019-08-18 11:51] iamonuwa commented on #24
Need to add this to get the confirmation number.
[code]
Then ensure the confirmation number is equal to `receipt.transactionIndex` before checking the transaction.
We need to force it to stop at `receipt.transactionIndex`

[2019-08-19 07:49] andytudhope commented on #24
How does this speed up/improve the process of handling transactions? And which file are you referring to? I think we need more detail. @richard-ramos do you have any other suggestions? What do you think of my comment in the subgraph issue @iamonuwa?

[2019-08-19 11:20] iamonuwa commented on #24
This has to be done within the `broadcastContractFn`. The resolve callback will be passed under the `confirmation` block only when the `transactionIndex` is same as the current `blockNumber`

[2019-08-19 13:11] richard-ramos commented on #24
I'm not sure that using `on('confirmation')` and checking the transactionIndex is the right approach:
the `confirmation` callback will be triggered up to the 12th confirmation (so we'd have a lot of duplication of events / state changes), and also, because the transaction index refers to the position of the transaction inside the block it was mined, so it will not be equals to the current block nu

[2019-08-19 13:40] iamonuwa commented on #24
Makes sense to me.

[2019-09-04 08:40] andytudhope commented on #42
@nanspro - what's the progress been like here? Have been away from a while, hence the delay in following up, but it would be good to see some work soon, otherwise my DAI needs to go and work in Compound instead of waiting to be transferred to you :wink:

[2019-09-04 08:47] nanspro commented on #42
@andytudhope  understood the full backend code and started creating schema. I actually shifted my focus to this gitcoin hackathon recently :), will resume this and wrap it up by weekend. Save that DAI :sweat_smile:

[2019-09-05 08:49] andytudhope commented on #42
Haha, ok cool. Thanks for the update, and I am happy to hear that you're part of the hackathon - big supporter of that. Not for this one as I am still catching up, but it would be fun to work together in another hackathon, so keep that in mind for the next one :wink: Will hold onto the DAI and await a PR here at your leisure :+1:

[2019-09-09 09:36] #24 closed, assigned to nobody

[2019-09-09 12:25] andytudhope opened #48 "Add a Search Box"
Follow the [designs here](https://www.figma.com/file/MYWmd1buvc2AMvUmFP9w42t5/Browser?node-id=3573%3A12049) to add a search box on the home page.

Search items should show up on each new key press after 2 letters.

[2019-09-10 19:42] nanspro commented on #42
Hey @andytudhope  just 2-3days max. The hackathon deadline is tomorrow and I am working on some good stuff 😅

[2019-09-17 08:04] #48 closed, assigned to nobody

[2019-09-17 08:15] andytudhope commented on #42
Hey @nanspro - a little tired of waiting here now - when this is escalated to mods, I'm gonna have to hand the issue and bounty off to someone else...

[2019-09-18 09:12] nanspro commented on #42
Hey @andytudhope  i was working on this from last night and even talked to @yanivtal regarding some genuine issues which i encountered. Just now i was told a temporary fix by graph team regarding a weird issue that occurred. I plan to finish it today.

I completely understand the reason of removing me and i apologize for holding it for so long. However i think since i am very familiar with it by n

[2019-09-24 04:58] nanspro commented on #42
Hey @andytudhope
There seems to be some issue getting ipfsHash from the data on graph. Currently the graph is deployed here https://thegraph.com/explorer/subgraph/nanspro/discover and it fetches ipfsHash correctly. Ex: https://cloudflare-ipfs.com/ipfs/QmWy2n7ysdMdCBDkBgBGT1TYrmB99eq5AxeJAzw8UDr5WG But when i deploy on graph it gives `Timeout Error`. I am talking to the graph team for any workaroun

[2019-09-24 08:23] iamonuwa commented on #42
@nanspro have you tried increasing the timeout?

[2019-09-24 08:23] iamonuwa commented on #42
I can help you with this

[2019-09-24 08:31] nanspro commented on #42
@iamonuwa pinging on you discord.

[2019-09-24 12:44] SpasiboKojima commented on #12
Same for me here, still.
Also, if I submitted a DApp from browser, like, 4 weeks ago, do you still accept them? I haven't seen any new DApps since.

[2019-09-24 14:47] nanspro commented on #42
@andytudhope  quoting Jannis from graph:
[code]

So could you tell me the ipfs node url where these files are stored as of now and then graph team will sync it to their node.
P.S I know that i have lost this bounty but still want to complete this ASAP.

[2019-10-03 15:03] andytudhope commented on #42
Hey everyone. Now it is my turn to apologise for delays. Have been on a different kind of trip lately. I am happy to split the bounty however is appropriate, as I deeply appreciate these kind of issues (though I think communication around them is critical to prevent this kind of thing).

We simply use Infura as our IPFS provider, so I can't tell you exactly which node they are stored on. However,

[2019-10-03 15:30] andytudhope commented on #12
Hmmm, this is super weird, and I cannot reproduce it. @KojimaGeniy - I have not seen any DApps being submitted in the last 9 days - which one were you trying to get in here? Apologies for the delayed response - I have been out of internet connectivity for the last week.

[2019-10-03 16:40] nanspro commented on #42
Hey @andytudhope lol no need to apologise,i should've done it earlier. Ohh and i'll also be leaving for devcon on 6th oct, i got an scholarship to attend :)

As of now i am on it and will definitely try to create the subgraph atleast as soon as possible(before leaving for osaka), the issue was that i have the hashes but the graph node was not able to find them. Let me try to resolve it with them.

[2019-10-03 17:19] bgits commented on #42
I had a similar issue, I ended up pinning directly to the graph IPFS node. I also had the graph index the ipfs data so even if content disappeared from IPFS it would be retrievable from the sub graph.

[2019-10-03 17:22] nanspro commented on #42
Yes @bgits so i guess i need the node url from status so that i can pin the files present there, right? I have all the hashes but the graph is not able to locate them. Should i provide them all the hashes separately so that they pin them to their node?

[2019-10-03 18:39] bgits commented on #42
You need the node url from the graph. Also, what is the data on ipfs, if it’s just a json, I would have the graph index that as well.

[2019-10-06 00:45] nanspro commented on #42
@bgits yes it's just a json. Ex:
[code]

[2019-10-14 11:29] andytudhope commented on #16
@flexsurfer are you able to replicate this on iOS. I have an Linux machine and am travelling, so not able to replicate it at all. We need to try and figure out what is causing this on the latest release so that we can fix it. The logs attached to this issue are less than useless, so any insight you could help provide would be super beneficial in terms of getting this fixed...

[2019-10-14 11:38] flexsurfer commented on #16
![image](https://user-images.githubusercontent.com/11790366/66748610-e6b30b80-ee87-11e9-83e6-9db7d8fe257f.png)

[2019-10-14 11:44] flexsurfer commented on #16
i'm not sure if this is the reason, because i can see a list on ios even with these errors, how do you load a list of dapps ? do you get them from contract through web3 request? i can't see any logs in status

[2019-10-14 11:49] flexsurfer commented on #16
ok if permission "always allow" i can see the XHR . request,
![image](https://user-images.githubusercontent.com/11790366/66749202-81601a00-ee89-11e9-9cff-ea7b4ad33896.png)

if not i can see error
![image](https://user-images.githubusercontent.com/11790366/66749169-6ab9c300-ee89-11e9-8aab-2bc079810363.png)

[2019-10-14 14:01] andytudhope commented on #16
@iamonuwa are you able to look at this in the next 2 days? If so, I will create a bounty here ASAP.

@flexsurfer, yeah that is how we load them [here](https://github.com/dap-ps/discover/blob/master/src/common/blockchain/services/discover-service/discover-service.js#L60) and [here](https://github.com/dap-ps/discover/blob/master/src/common/clients/metadata-client.js#L41)

[2019-10-16 19:12] iamonuwa commented on #16
@andytudhope you'll have the fix tonight

[2019-10-21 14:45] churik opened #50 "Can't navigate to searched Dapps"
Steps:
1) open https://dap.ps
2) in search field type any DApp (i.e. "Airswap")
3) Tap on Search result

Expected, that will be navigated to Airswap dapp
In fact, nothing happens

Build: nightly 21/10/2019
Device: LG V20 (Android 8)
![screencast 2019-10-21 16-43-14](https://user-images.githubusercontent.com/4557972/67215631-1df26100-f422-11e9-824c-6212bd394dc5.gif)

[2019-10-22 09:31] andytudhope commented on #16
Hey @iamonuwa - what is happening here? Even a small update would help me understand the blocking issue better.

[2019-10-23 13:43] andytudhope commented on #42
@nanspro - after our too-rushed chat in a DevCon elevator, I was expecting to eventually see some progress here? Are you still caught up in other work?

[2019-10-23 13:44] andytudhope commented on #16
Hello @iamonuwa? Testing, testing, 1 2 3?

[2019-10-23 14:44] andytudhope commented on #50
There is something weird happening that is preventing the default action from occurring (as I can open the link in a new tab by right clicking when on desktop). My suspicion is that this weirdness likely comes from [this file](https://github.com/dap-ps/discover/blob/master/src/common/components/Search/Search.jsx).

Sadly, @iamonuwa has done another disappearing act on me, but perhaps he'll be able

[2019-10-23 14:49] iamonuwa commented on #50
🙈

[2019-10-23 14:49] iamonuwa commented on #50
Expect both issues today

[2019-10-23 14:57] andytudhope commented on #50
cool sgtm :heart:

[2019-10-23 15:57] iamonuwa commented on #50
Figured out the problem. Working on resolving it now

[2019-10-23 16:17] iamonuwa commented on #16
@andytudhope the code looks good, I can't reproduce this on any of the devices I've tested it on. @churik here are my thoughts

1. Ensure you are on a web3 enabled device.
2. You are on the right network (mainnet) in this case.

The app will load on a browser without web3 but cannot pull data from the contract. If you use a wrong contract, it will also fail.

[2019-10-23 16:19] churik commented on #16
@iamonuwa which build are you using for testing?

[2019-10-23 16:25] churik commented on #16
I can reproduce issue:
1) on released build, 0.13.2, URL: https://dap.ps, IPhone XS, IOS 12
2) on current develop [build](https://status-im.ams3.digitaloceanspaces.com/StatusIm-191023-025900-474ff0-nightly-universal.ipa), URL: https://dap.ps, IPhone 7, IOS 11.4.1

[2019-10-23 16:25] andytudhope commented on #16
Yeah, there's something specific that is wrong with iOS on the latest version of Status @iamonuwa

Do you have the capacity to test on an iOS device/simulator? Because I don't and that is what is preventing me from digging further into this.

[2019-10-23 16:54] iamonuwa commented on #16
@churik @andytudhope this error happens on all devices when you are on the wrong network. I've tried it on iOS 13. It works when am on the right network but fails on wrong network

[2019-10-23 17:03] iamonuwa commented on #16
0.13.0 on android and iOS

[2019-10-23 17:43] #50 closed, assigned to nobody

[2019-10-23 17:47] andytudhope commented on #16
This is the issue that keeps on giving... @flexsurfer do you have any further feedback you could give here?

[2019-10-25 07:14] nanspro commented on #42
Hey @andytudhope no i am not caught up with any other work besides the ongoing chainlink hackathon. I expected to do this after coming back from japan on 18th but i directly went into withdrawal (it was my first intl. trip) and then did nothing for 4-5 days.

But i am feeling pretty good and more motivated now :smile:  so let's wrap it up asap. I have created the subgraph, code can be found here h

[2019-10-28 10:46] andytudhope commented on #42
Hi @nanspro - welcome back to the land of the living :wink: Happy to hear you are recovered after your first trip.

There are only 11 DApps on mainnet atm, so that is correct. Also, the email stuff is correct as we just request it to contact the teams on submission, we don't store it publicly and don't need it after sorting out 1 or 2 issues with submissions, so you're correct that it's only our b

[2019-10-28 11:25] bgits commented on #42
Just happen to see this in my feed so chiming in. The Graph shouldn't need to be used by a backend, it should ideally be referenced in the front-end allowing each client to connect to the graph network separately.

The Graph currently provides a few things that are hard to achieve otherwise.

- No requirement for a web3 provider. Even standard browsers can connect and at least view the data.
- [A

[2019-10-30 08:42] nanspro commented on #42
Yeah my bad. The graph will remove the need for storing such stuff in backend so i was referring to changing backend code and adding graph to frontend. Yes whenever a new dapp is created, it will be accessible via graph.

Ohh one more thing. The graph works perfectly in getting ipfs hashes of content but out of 11 hashes, two don't work. These two ipfs hashes `QmS6a72GnPvUCMwKKrVGE41yY8RYwVVoBTrEb

[2019-11-04 09:06] andytudhope commented on #16
Ok, I'm gonna have one more go at this.

@iamonuwa the code is not good - it should not require a web3 enabled device/browser just to view the DApps ranked on the site. This is why we only request web3 access when you're trying to stake SNT on a DApp, or vote. It is important that we keep that request where it is, but make sure the DApps load without issue, even when permission has not been allowe

[2019-11-04 11:51] jakubgs commented on #16
No idea what that's about, you're going to have to elaborate on that. What is a "web3 provider"?

What "blockchain node"? Not sure what you are talking about here either.

[2019-11-06 06:46] andytudhope commented on #16
1. Metamask, Status, and other wallets provide a `web3` object, which contains info about your account etc. If this is not present, then something weird happens with our request to Infura (a request in which we are fetching all the DApps currently ranked in the contract). To replicate these errors, disable MetaMask in your browser, and then browse to https://dap.ps to see what happens.
[code]

2.

[2019-11-06 08:04] andytudhope commented on #42
Yeah, cool. Am still chewing on how best to combine subspace and The Graph. While I do that

`QmS6a72GnPvUCMwKKrVGE41yY8RYwVVoBTrEbW6XWDu1EY` is Clovers Network and

`QmfCbEDwZ7sVSzcmivp3WvKd9pcKHhmCXiFwFuuQJmhPhs` is BULVRD Drive

I do not know why they are not accessible through IPFS :disappointed: @bakasura980 do you have any idea why this might happen? Potentially we failed to pin them once th

[2019-11-06 08:07] andytudhope commented on #42
I think it is because Clovers submitted twice once without staking, once with a stake, and their original hash is `QmR5aVSZzyNjuS18kpXrzk3dhxW1ZWRaxaZ6TGMzWfeQ32`, which does resolve correctly.

And then maybe BULVRD is not accessible because it has not been APPROVED yet - do we only pin to IPFS on approval @bakasura980?

[2019-11-06 18:54] jakubgs opened #54 "Slow page load due to sequential Infura requests"
Based on page loading analysis from https://www.webpagetest.org/ we can see that the sequentially made Infura requests made after the `/metadata/all` call are the main cause of slow page loads:
![dap_ps_infura_slow](https://user-images.githubusercontent.com/2212681/68328095-ed235480-00ce-11ea-8bfb-4eca3f123d8b.png)
https://www.webpagetest.org/result/191106_VA_1baab60b0d5daa3a4ee44b6e8ca482fb/1/det

[2019-11-06 23:05] jakubgs commented on #54
Pretty sure this is the part that causes that:
https://github.com/dap-ps/discover/blob/bf8b9bcbad0a4dec550a9d98a27fb62f7b8a38ce/src/common/blockchain/services/discover-service/discover-service.js#L59-L67

[2019-11-06 23:23] jakubgs commented on #54
Here's an example solution:
[code]
But not sure if it would work. I wanted to test it on https://dev.dap.ps/ but [it seems broken](https://github.com/dap-ps/infra-dapps/issues/16).

[2019-11-07 10:37] jakubgs commented on #16
I am unable to reproduce the CORS issue. At all. When I have no MetaMask enabled in my browser then https://dap.ps/ loads without a single error in the browser console.

[2019-11-07 10:44] andytudhope commented on #16
Ok, don't stress about it - @iamonuwa is fixing what I asked him to above, and we can see if it is still a problem once that PR is in and merged.

[2019-11-07 14:17] iamonuwa commented on #16
Am working on this.

[2019-11-07 16:08] rachelhamlin commented on #12
Hmm, okay, I just tested on iOS and had the `Could not establish connection to a node` error.

[2019-11-07 16:51] rachelhamlin commented on #12
Oops - we're low on DAI in the bounty account, but I will bounty.

[2019-11-07 17:03] andytudhope commented on #12
I can also bounty this... It's strange that iOS is giving us so many errors :disappointed: Can you please specify the version of iOS and of Status that you are running?

[2019-11-07 17:06] rachelhamlin commented on #12
Not cute, iOS. Not cute. I'm on a nightly - v1 build, I think from 2 days ago.

And iphone xs max iOS 13.1.3 :)

[2019-11-10 22:12] iamonuwa commented on #16
@gitcoinbot wow! Take a chill pill man. Am trying to fix this.

[2019-11-11 17:16] SpasiboKojima commented on #12
So, should it work now? I still can't see any DApps here.
Also @andytudhope, could you please check again? I submitted the "Totle Swap", the popup said it was approved and it appeared on the page, but it was cached and can only be seen among the "Highest Ranked" DApps, and not in it's category nor in any other browser. Or does it secretly mean that you are still looking into it behind the scene? 🙃

[2019-11-11 17:17] iamonuwa commented on #16
@andytudhope @jakubgs  so I've been digging this error for so long. Here are some more findings
1. Without MM, the app will crash
2. Firefox privacy doesn't support indexeddb.
3. There is no `onReady method` inside EmbarkJS https://github.com/dap-ps/discover/blob/bf8b9bcbad0a4dec550a9d98a27fb62f7b8a38ce/src/common/blockchain/index.js#L33

[2019-11-12 15:11] andytudhope commented on #16
OK @iamonuwa

1. Why does the app crash? It should not require a web3 provider just to view the site.
2. Are the issues with indexDB what is causing the issue with iOS?
3. I will ask about this in the Embark gitter.

[2019-11-12 15:36] andytudhope commented on #12
Hey @KojimaGeniy - so we are definitely having weird iOS issues atm and are in the process of sorting them out. I have looked into Totle and approved it - my sincerest apologies for the delay and trouble you had here. We will be sure to have it fixed in the next few days.

[2019-11-25 07:13] flexsurfer commented on #16
And it takes a long time to load the list on Android

[2019-11-25 12:31] jakubgs commented on #16
@flexsurfer I think this is caused by https://github.com/dap-ps/discover/issues/54, but I can't test my proposed fix because https://dev.dap.ps/ seems fucked.

[2019-11-28 12:31] jakubgs commented on #16
@iamonuwa any news, or should I take this over?

[2019-12-02 07:53] andytudhope commented on #16
Hey @jakubgs - am traveling atm, hence intermittent connection. What is the issue you are having with dev.dap.ps - it works well for me? Are you sure that MetaMask is connected to Ropsten?

![Screenshot from 2019-12-02 09-52-10](https://user-images.githubusercontent.com/13001517/69939864-7fa9ee80-14e9-11ea-8824-33a5f433450c.png)

[2019-12-02 11:23] jakubgs commented on #16
You're right, I was not on ropsten, but something bigger is broken, because it's not lading at all in tests:
https://www.webpagetest.org/result/191202_BT_bbfdedd7c72a287084cb332582c4236b/
Look at the screenshot, there are no apps.

[2019-12-06 15:24] bakasura980 commented on #42
Hello @andytudhope, I did not get any notifications, just enter here to check what is the status. As I remember, we did not have IPFS integrated when I stopped working on this, but yes, check out if you pin these records, because IPFS will `garbage collect` unvisited records.

[2019-12-06 15:30] nanspro commented on #42
@bakasura980 i noticed just now that the subgraph is failing due to `Failed ipfs.cat, returning null`, this error indicates that the graph node is not picking up the new ipfs hashes and when earlier this error occurred, i synced with graph node using `ipfs-sync` to https://api.thegraph.com/ipfs/

Can't we just pin the node url to graph node so that the sync happens automatically?

[2019-12-08 10:44] andytudhope commented on #16
Hmm. Fair enough. There is definitely a LOT that can be fixed, but I was waiting for liquid funding to be a thing before really trying to engage people again given my experience last time around, with all those fun budget problems I ran into halfway through the scoped work...

[2019-12-08 18:44] iamonuwa commented on #16
Longest thread on this repo.

[2019-12-10 13:53] bakasura980 commented on #42
@nanspro Try it, I am not familiar with subgraphs. An idea is to have a cron job which process syncing in every 24 hours for example

[2019-12-10 13:57] nanspro commented on #42
@bakasura980 if you have guys have a public url of node which stores all the ipfs hashes then i can just pin that to graph's node and it'll keep listening for new files and hashes?

[2019-12-11 14:51] jakubgs opened #55 "AWS CloudFront URS in newly submitted Dapps in MongoDB"
@andytudhope found an issue where URLs of images for newly submitted Dapps are ones from CloudFront CDN rather than the proper ones using `https://dap.ps/` url, like so:
[code]
Here's an example in the DB:
![unnamed](https://user-images.githubusercontent.com/2212681/70631891-256a0580-1c2e-11ea-85a5-11079eb7df54.png)

[2019-12-11 15:05] jakubgs commented on #55
As far as I can tell the `image` attribute is set here:
https://github.com/dap-ps/discover/blob/bf8b9bcbad0a4dec550a9d98a27fb62f7b8a38ce/src/modules/Submit/Submit.jsx#L201-L209
And it seems to come from the `props`.
https://github.com/dap-ps/discover/blob/bf8b9bcbad0a4dec550a9d98a27fb62f7b8a38ce/src/modules/Submit/Submit.jsx#L338-L341
Does this mean that when I select an image it is immediately up

[2019-12-11 15:24] jakubgs commented on #55
And indeed, I created a new Dapp on https://dev.dap.ps/ named `kotlet.io` and we can see the url:
[code]

[2019-12-11 15:32] jakubgs commented on #55
So it looks like the image is posted via JSON inline to the path:
[code]
![dap_image_post](https://user-images.githubusercontent.com/2212681/70635155-b8f20500-1c33-11ea-8156-2a09e090e1d4.png)
So the issue must be on the backend side, rather than the frontend UI.

[2019-12-11 15:34] jakubgs commented on #55
The code that handles the `/metedata` path is:
https://github.com/dap-ps/discover/blob/bf8b9bcbad0a4dec550a9d98a27fb62f7b8a38ce/back-end/routes/dapps-routes.js#L12
And is defined here:
https://github.com/dap-ps/discover/blob/bf8b9bcbad0a4dec550a9d98a27fb62f7b8a38ce/back-end/controllers/dapps-metadata-controller.js#L22-L43
And even deeper:
https://github.com/dap-ps/discover/blob/bf8b9bcbad0a4dec550

[2019-12-11 16:06] jakubgs commented on #55
Found it:
https://github.com/dap-ps/discover/blob/bf8b9bcbad0a4dec550a9d98a27fb62f7b8a38ce/back-end/services/dapp-image-service.js#L27
I don't see why we have to set the full url at all, why not just the path?

[2019-12-11 16:10] andytudhope commented on #55
No need for the full URL, you seem to be correct. Let's just set the path if that will prevent this from happening. My apologies for not creating this issue sooner, the electricity has just come back on here (have basically been without connection for a week and a half now :disappointed:)

[2019-12-11 16:12] andytudhope commented on #16
Yeah, it's a bitch @iamonuwa - did you never discover anything useful wrt the IndexDB error stuff? Would be great if you can point at the best place to start refactoring code so we can get back on track here.

[2019-12-11 16:20] andytudhope commented on #42
Yeah, there's nothing like that, though I am very confused by @bakasura980's comment, because we definitely do use IPFS whether he remembers coding it or not :sweat: I am also not familiar enough with The Graph to be helpful with the `null` error when trying to pin, though clearly there are at least 2 DApps which did not get correctly pinned in IPFS when they were submitted and hence are causing u

[2019-12-11 18:26] jakubgs commented on #55
That's shitty. I'm currently getting drunk. I'll fix it tomorrow.

[2019-12-12 10:11] jakubgs commented on #55
The fix seems to work:
[code]
And the image is downloaded correctly:
![dapp_image_success](https://user-images.githubusercontent.com/2212681/70703301-16d42a80-1cd0-11ea-9c12-878fbbf4dde0.png)

[2019-12-12 10:14] jakubgs commented on #55
Although I found one issue in which I had to manually invalidate the `/metadata/all` path in our CloudFront cache because it wouldn't let me see the newly approved Dapps. I'll have to take a look at that. New issue: https://github.com/dap-ps/infra-dapps/issues/17

[2019-12-12 20:15] #54 closed, assigned to nobody

[2019-12-12 20:16] #55 closed, assigned to jakubgs

[2019-12-12 20:51] jakubgs commented on #54
Here's the same part as in issue description but after deploying the fix:
![dapps_new_parallel_load](https://user-images.githubusercontent.com/2212681/70747943-4d8a5f00-1d29-11ea-9a38-aef2712fc912.png)

[2019-12-12 23:18] jakubgs commented on #54
I had to add a small fix after that: ccae507c00f2292a93a8819ce60618d9cfd12dab
Result:
![dapps_new_parallel_load_2](https://user-images.githubusercontent.com/2212681/70756879-0eb2d400-1d3e-11ea-8c00-f752f4fcd032.png)

[2019-12-13 08:09] flexsurfer commented on #16
it seems we need to refactor a bit,  show dapps list right after https://dap.ps/metadata/all call . and if there is no connection to blockchain hide Highest Ranked and  votes for every dapp, and show "Connect wallet" button instead

[2019-12-13 08:11] flexsurfer commented on #16
dap.ps still doesn't work on ios because of CORS, but anyway, because we waiting for all ranking data, list is empty for a long time, there are no loaders or smth, so user might think dap.ps just doesn't work and close it

[2019-12-13 10:16] jakubgs commented on #16
It's true, it fails even on MacOS, not just iOS.
First the `/api/v0/version` call succeeds:
![macos_dap_ps_ipfs_version](https://user-images.githubusercontent.com/2212681/70792567-ce813f00-1d99-11ea-8bc9-fb8fd2f6f719.png)
And then the next call fails sue to CORS:
![macos_dap_ps_ipfs_fail](https://user-images.githubusercontent.com/2212681/70792580-d80aa700-1d99-11ea-8caa-78e6d163c959.png)
But in th

[2019-12-13 10:17] jakubgs commented on #16
Oh, the endpoints are different, the first one is `ipfs.infura.io:5001` and the second one is `mainnet.infura.io`, so they probably have different CORS settings.

[2019-12-13 10:21] flexsurfer commented on #16
probably the reason in the infura key ? for example they accept requests for this key only for a specific domain? but still i don't see a reason to call infura directly from dapp, better to connect to wallet

[2019-12-13 10:21] jakubgs commented on #16
This appears to be a known issue: https://github.com/INFURA/infura/issues/57

[2019-12-13 10:22] jakubgs commented on #16
@flexsurfer I thought that too, so I'm trying to find where is our infura key, but I can't find it.

[2019-12-13 10:23] jakubgs commented on #16
Oh, wait, is the key the thing in the URL?
https://github.com/dap-ps/discover/blob/ccae507c00f2292a93a8819ce60618d9cfd12dab/config/contracts.js#L155
I'll test it.

[2019-12-13 10:24] jakubgs commented on #16
Ah yes:

https://infura.io/docs/gettingStarted/authentication

[2019-12-13 10:26] jakubgs commented on #16
The response CORS origin looks correct:
[code]

[2019-12-13 10:29] jakubgs commented on #16
Here's the request I got from Safari using `Copy as cURL`:
[code]
Works fine with `curl`:
[code]

[2019-12-13 10:31] jakubgs commented on #16
I don't really see what's wrong about Safari that it thinks CORS is incorrect, here's the request:
[code]
But the response data is just:
[code]
Which is just nonsense.

[2019-12-13 10:39] jakubgs commented on #16
This makes no sense, so I'm just going to try upgrading our `web3` version randomly and see if that does anything at all. Currently we are on `1.0.0-beta.34`:
https://github.com/dap-ps/discover/blob/ccae507c00f2292a93a8819ce60618d9cfd12dab/package.json#L30-L31

[2019-12-13 10:59] jakubgs commented on #16
I upgraded web3 to `1.2.1` and Embark to `4.1.1` and it works on Linux but fails the same way with CORS on MacOS. But it's good to upgrade stuff so here's the PR: https://github.com/dap-ps/discover/pull/58

[2019-12-13 11:20] jakubgs commented on #16
https://github.com/ethereum/web3.js/issues/1802#issuecomment-413111631

Apparently this issue was resolved by: https://github.com/ethereum/web3.js/pull/2564
And this fix was included in `v1.0.0-beta.51`:

https://github.com/ethereum/web3.js/releases/tag/v1.0.0-beta.51

So I tried specifically that version but it appears that it doesn't matter what `web3` I specify in `package.json`, what gets pull

[2019-12-13 12:38] jakubgs commented on #16
I'd like to see exactly what kind of headers Safari is getting back from Infura, but it's not showing me.
I can't use Wireshark because the traffic goes through HTTPS. What I could do is setup a local HTTPS proxy with a self-signed cert and make it pretend its Infura (by editing the `hosts` file) to see exactly what is the response. But I'd have to make Safari accept the self-signed cert.

[2019-12-13 12:44] jakubgs commented on #16
Actually, there's a simpler way, you an pick the "Disable Cross-Origin Restrictions" option from the "Developer" menu of Safari browser:
![macos_dev_menu_crop](https://user-images.githubusercontent.com/2212681/70801277-c1bb1600-1dae-11ea-9e0a-93a1c2004948.png)

[2019-12-13 12:46] jakubgs commented on #16
With that option enabled the site loads and I can see what are the response headers:
![macos_infura_resp_cors](https://user-images.githubusercontent.com/2212681/70801322-deefe480-1dae-11ea-8f90-7414743ee612.png)
And it of course makes __NO FUCKING SENSE__ because the CORS headers are correct!

[2019-12-13 12:49] jakubgs commented on #16
Which means that this error is a __LIE__, since the https://raw.dev.dap.ps/ domain is clearly allowed:
![macos_infura_cors_error](https://user-images.githubusercontent.com/2212681/70801475-4efe6a80-1daf-11ea-8ee1-2ee3309984ad.png)
I don't see how we can fix this, Safari is just a retarded browser.

[2019-12-13 12:54] jakubgs commented on #16
An interesting answer on StackOverflow might be the reason:

If this is indeed the case then Safair beyond hope.

[2019-12-13 13:26] jakubgs commented on #16
It looks like `dai.js` had [the same issue](https://github.com/ethereum/web3.js/issues/1802) and the upgraded to web3 `1.2.1` in: https://github.com/makerdao/dai.js/pull/169
But that didn't help us at all.

[2019-12-13 15:18] jakubgs commented on #16
I tried upgrading to `1.2.4` in #58 but I encountered build issues when setting version in `embark.json`:
[code]
But when I removed the `web3` version from `embark.json` it built fine but with `1.2.1` which is the default in Embark `4.1.1`. I had a bit of a discussion about this on Embark Discord and it turns out this is a bigger issue than I expected.

People who helped me were @richard-ramos, @j

[2019-12-13 22:49] jakubgs commented on #16
There's a possibility that Embark team might release `4.1.2` with web3 `1.2.4` that we could use to possibly fix this issue. I say this because this fix is included in `1.2.4` which looks very promising:
https://github.com/ethereum/web3.js/pull/3112

[2019-12-14 08:34] flexsurfer commented on #16
but we still need to refactor a bit, show dapps list right after https://dap.ps/metadata/all call

[2019-12-14 09:43] iamonuwa commented on #16
Available as always 😁🙏

[2019-12-14 10:26] flexsurfer commented on #16
ping @andytudhope

[2019-12-14 14:10] jakubgs commented on #16
That sounds like a separate issue though.

[2019-12-15 07:52] andytudhope commented on #16
Yeah, I think that it is, and I would still prefer to wait for Liquid Funding to be a thing for any kind of refactoring tbh. However, if you'd like to make a specific issue for that refactor @flexsurfer, I would be happy to put up a bounty.

[2019-12-15 08:22] flexsurfer commented on #16
dap.ps is a crucial part of status app, because its the only way to discover dapps, currently it doesn't work, so no dapps,  because it takes too long time to load on android and there is no list at all on ios, we can't ship v1 because of this blocker, to fix that we need to show list of dapps right after https://dap.ps/metadata/all call

[2019-12-15 08:22] flexsurfer commented on #16
ok we can't show all dapps because we don't want to show not approved dapps , hm

[2019-12-16 09:32] flexsurfer commented on #16
but in that case more dapps we'll have more time it will take to show dapps list, and later it might take like minutes to just show a list of dapps

[2019-12-17 18:37] jakubgs commented on #16
I just did a local build of `discover` dapp and deployed it at using the pre-release Embark version `4.1.2` from https://github.com/embark-framework/embark/pull/2142 and it appears to work on Safari:
![dap_ps_fixed_safari](https://user-images.githubusercontent.com/2212681/71024102-797c5a80-2104-11ea-9549-2d4f4ece3c36.png)
I also tested it on my iPhone and it seems to work! Big thanks to @michaelsb

[2019-12-18 14:29] rachelhamlin commented on #16
It didn't occur to me that this is also blocking marketing. @flexsurfer since you're on v1 issues today, could you possibly prioritize this one? Sounds like latest Embark version might offer a simple fix? Though not clear to me if production ready.

[2019-12-18 15:42] StatusSceptre opened #60 "Search bar issues reported"
Search yields nothing on iOS, perhaps tied to [lack of DApps populating](https://github.com/dap-ps/discover/issues/16).

Seems to work fine on Samsung Galaxy S8 and in web browsers.

But—we have a report that in Google Chrome, search works on first runthrough but not subsequent ones (no results, cursor disappearing). I can not reproduce it.

[2019-12-18 22:34] jakubgs commented on #16
Looks like the version of Embark we were anticipating is `4.2.0`:
https://github.com/embark-framework/embark/releases/tag/v4.2.0
I will attempt to build to build `discover` with it tomorrow, too drunk now.

[2019-12-19 11:43] jakubgs commented on #16
Still not fixed.

[2019-12-19 11:58] jakubgs commented on #16
I've deployed build from https://github.com/dap-ps/discover/pull/61 on https://dev.dap.ps/, please test it.

[2019-12-19 12:52] flexsurfer commented on #16
kudos @jakubgs works on ios and in safari

[2019-12-19 13:44] StatusSceptre commented on #16
Brilliant. Also working for me. Thank you @jakubgs!

[2019-12-19 13:50] flexsurfer commented on #16
can we deploy to dap.ps ?

[2019-12-19 15:52] #16 closed, assigned to nobody

[2019-12-19 16:12] jakubgs commented on #16
I have deployed the changes to https://prod.dap.ps/, seem to work:
![dap_ps_safari_success](https://user-images.githubusercontent.com/2212681/71189177-ae162080-2282-11ea-8ac0-deb93d99a350.png)

[2019-12-19 17:39] rachelhamlin commented on #16
prod.dap.ps works great on iOS! Although dap.ps doesn't point there.

[2019-12-19 19:54] jakubgs commented on #16
`prod.dap.ps` is the same thing as `dap.ps`

[2020-01-14 11:53] andytudhope commented on #12
@jakubgs did your fixes to #16 also take care of this (I think so, but can't really test without iOS devices handy)? @churik any chance you'd be willing to retest quickly if Jakub gives the go ahead so we can try close here?

[2020-01-14 11:57] andytudhope opened #63 "Approved Badge for DApps that have passed review"
Submitted DApps currently go through a manual review process.

1. If they stake SNT, DApps appear in the "Highest Ranked" section regardless, no review.
2. In order to appear in their chosen category, and in the rest of the site, they need to be 'approved', which means EIP-1102 compliant, privacy-protecting, and mobile-optimised so that they work within Status.

So, once approved, we need some mea

[2020-01-14 11:58] andytudhope commented on #42
Hey @nanspro - I am going to close the bounty here for now seeing as we haven't been able to solve it, and I want to include this in the scope of work for v2 of the site in general. If you send me an email with your address, I will make sure you receive at least some compensation for the work done.
Leaving the issue open though, for reference.

[2020-01-14 12:19] iamonuwa commented on #60
@StatusSceptre @andytudhope here to investigate and fix

[2020-01-14 12:31] nanspro commented on #42
Ahh don't worry about the compensation @andytudhope  :smile:

This error is really weird i suppose anyone from graph team can maybe help with this. I hope the subgraph i created can be used as a reference.

[2020-01-14 12:43] jakubgs commented on #12
I'm not sure since #16 was about a browser with no web3 provider, so no MetaMask or any other built-in wallet. This might still be an issue, we'd have to test.

[2020-01-14 16:14] andytudhope opened #65 "Add a field to the DB entry for each DApp to show staked amount"
It would be useful if we could tell, just by looking at the DB, which DApps have staked SNT, and which have not, as this allows us to tell which are stored in the contract, and which are just in the DB (which is useful for administration purposes).

Should be a fairly simple thing to add [here](https://github.com/dap-ps/discover/blob/master/back-end/models/dapps-metadata-model.js).

[2020-01-14 16:22] andytudhope commented on #12
Ok cool. @churik will you retest this on dev.dap.ps whenever you have some free time (no rush with all your other work atm!) and we can see if it is still a problem.

[2020-01-14 16:23] andytudhope commented on #60
@iamonuwa I thought you didn;t have an iOS device? If you can replicate and fix, I will make sure to put a bounty here.

[2020-01-14 16:25] rachelhamlin commented on #12
FWIW on mainnet yesterday I was able to submit a DApp without any SNT staked—previously having encountered the same error as Chu.

[2020-01-14 16:25] rachelhamlin commented on #12
If I test again with SNT staked, can you remove my DApp afterward @andytudhope?

[2020-01-14 16:26] jakubgs opened #66 "Fix absolute URLs in MongoDB"
Right now when you call https://dap.ps/metadata/all I can see a mix of different `image` URLs.
Some are absolute, some are relative, some use different domain names:
[code]

[2020-01-14 16:28] jakubgs commented on #66
I can find Dapps with specific image URLs using the `$regex` query:
[code]
So I bet I can also dynamically remove the prefixes to make them relative.

[2020-01-14 16:29] andytudhope commented on #12
@rachelhamlin if you test on https://dev.dap.ps with STT, that is equivalent to using dap.ps with SNT.

You need to use the test site so that we don't pollute the production contract with test data, which cannot be deleted (as that is immutable, blah blah blah etc blockchain etc etc :wink: )

[2020-01-14 16:35] rachelhamlin commented on #12
Fair enough! Removed from the UI then.

Thank god I have ample STT. :) I just tested on dev.dap.ps and all seems to work. The only minor issue is that once you've submitted, there is no confirmation screen. In fact I can `Stake and publish` again if I'd like. Which is fine, but may confuse folks into double submission if they're not paying attention. Functionally speaking, all seems good now.

[2020-01-14 16:46] jakubgs commented on #66
Looks like the simplest way to do this is use [`forEach()`](https://docs.mongodb.com/manual/reference/method/cursor.forEach/#cursor.forEach:
[code]

[2020-01-14 16:50] jakubgs commented on #66
Here's a neat regex for finding all starting with `http`:
[code]

[2020-01-14 16:50] andytudhope commented on #12
Yeah, that is a separate issue I think. We do confirm it in the little bubble at the top of the screen and - if staked - your DApp appears immediately, but I agree we could make it even clearer. Will create a new issue for that and close here. Maciej is gonna love me with all this design work again :wink:

[2020-01-14 16:50] #12 closed, assigned to nobody

[2020-01-14 16:50] iamonuwa commented on #60
Just checked it out. On a Safari browser, search works fine. @StatusSceptre which browser are you testing with?

[2020-01-14 16:52] andytudhope opened #67 "Add a 'Confirmed' screen when a DApp has staked SNT to rank"
Currently, the only confirmation DApps who stake SNT to rank get is a slight change in the bubble at the top of the screen, which disappears quickly anyway (plus the DApp appearing immediately in the 'Highest Ranked' section, though not necessarily in the visible part of it, esp on mobile screens).

It would be nice to add a proper "Confirmed! :tada:" screen when the tx is successful. However, we'

[2020-01-14 16:54] jakubgs commented on #66
Test of replacement function:
[code]
I can save this change by modifying `e` and running `db.dappsmetadatas.save(e)`.
See [`save() function docs`](https://docs.mongodb.com/manual/reference/method/db.collection.save/) for more details.

[2020-01-14 17:02] jakubgs commented on #66
Like so:
[code]

[2020-01-14 17:14] jakubgs commented on #66
And fixed:
[code]

[2020-01-14 17:14] #66 closed, assigned to jakubgs

[2020-01-15 10:32] andytudhope commented on #65
Ironically, our indexedDB actually already has a field for this called `sntValue`, so it's just a question of making sure mongoDB also does.

![Screenshot from 2020-01-15 12-32-15](https://user-images.githubusercontent.com/13001517/72426823-2218eb00-3793-11ea-9bdd-f6fe6825f420.png)

[2020-01-15 12:33] #63 closed, assigned to nobody

[2020-01-16 07:03] andytudhope opened #70 "Can't submit a DApp on Firefox"
@iamonuwa this is another bounty issue for you that I need looked at ASAP...

On Firefox, both locally and on https://dev.dap.ps with my MetaMask connected to Ropsten, I can't submit a DApp. Steps to reproduce:

1. Open https://dev.dap.ps with Firefox
2. Scroll to bottom and click 'Submit a DApp"
3. Click through first 2 screens - the explainer and the terms & conditions.
4. When you click 'Get St

[2020-01-16 07:11] andytudhope opened #71 "IPFS hashes are wrong"
We never got around to actually pinning images for each DApp into IPFS due to issues with Infura and budget constraints.

Now, it is time to fix that. See [this issue](https://github.com/status-im/infra-ipfs/issues/2#issuecomment-574601860) for context around the Infra needs. While Jakub sets up that stuff, we need to figure out why the way we have been getting the hash for each image is different

[2020-01-16 07:21] andytudhope commented on #70
My only useful guess is that this crept in somehow when we updated to [web3 1.2.4](https://github.com/dap-ps/discover/commit/211967837eb74b11000c4ea28fa732e880fd37c3) but I can't really imagine why, nor do I know how to fix that easily :disappointed:

Can confirm that this is only a Firefox issue - Brave, Chrome and Status work fine.

[2020-01-16 07:25] iamonuwa commented on #71
Available to work on it

[2020-01-16 07:37] andytudhope commented on #71
See if you agree with our findings in the issue linked above that the image hashes are indeed wrong (the actual hashes for the DApp objects seem correct, which is strange) and hit me up with an estimate of time to fix and I will create a bounty here.

[2020-01-16 07:45] iamonuwa commented on #70
@andytudhope what version of firefox do you have? Am on Firefox 72.0.1

[2020-01-16 07:45] iamonuwa commented on #70
I can't reproduce this error on it.

[2020-01-16 09:49] andytudhope commented on #70
@iamonuwa I am also on 72.0.1 and can definitely reproduce, even after a full restart etc. Can you try reproducing locally, instead of just on dev.dap.ps ?

[2020-01-16 09:51] iamonuwa commented on #70
I'll try locally to reproduce it.

[2020-01-16 16:18] iamonuwa commented on #70
Same for localhost. I can't reproduce it. Am moving to the ipfs issue. Everything looks good here

[2020-01-17 15:39] andytudhope commented on #71
@iamonuwa any progress here? Jakub is mostly done on the infra side... https://github.com/status-im/infra-ipfs/issues/2#issuecomment-575667917

[2020-01-17 15:44] iamonuwa commented on #71
Actually waiting for him to complete his end.

[2020-01-17 17:00] nanspro commented on #71
@iamonuwa could take a look at https://pinata.cloud/ if you wanna pin to ipfs

[2020-01-28 09:57] andytudhope commented on #71
Fixed in https://github.com/dap-ps/discover/commit/9dee93c0773793b8222464b3055530989285aa0c

[2020-01-28 09:57] #71 closed, assigned to nobody

[2020-01-28 09:59] andytudhope commented on #42
Hey @nanspro

Any chance you could have another go at this subgraph using our own IPFS stuff, rather than relying on a dodgy Infura connection? See https://github.com/dap-ps/discover/commit/9dee93c0773793b8222464b3055530989285aa0c for more detail on changes made.

[2020-01-28 09:59] andytudhope commented on #60
Unable to replicate, and no further comments coming though, so am closing here in the interests of keeping tight track of issue in this repo.

[2020-01-28 09:59] #60 closed, assigned to nobody

[2020-01-28 10:04] andytudhope opened #74 "Can't Edit or Withdraw from addresses in MM that don't match checksum format"
Currently, we store the Eth addresses associated with each DApp in the "old" form, i.e.

`0xad2cebabcca6cc28226dffede5d43a82e061a366`

However, most wallets (especially MetaMask) actually inject the checksum'd version of the address, i.e.

`0xAD2ceBabCcA6CC28226DFFEdE5d43A82e061A366`

This means that owners of the DApp who browse to our site using MM never see the "Edit" or "Withdraw" buttons at t

[2020-01-28 10:08] andytudhope commented on #74
It's weird though, I am struggling to replicate it... Seems fine in both Moz and Chrome for me.

And I'm unsure of the best way to fix it. Do we store the checksum'd address (which I think is better practice) and then check for both? Is there an easy way to do that? Needs more thought. The above examples come directly from one of the DApp owners who submitted and then could not edit. Changing to t

[2020-01-28 11:35] iamonuwa commented on #74
I'll get back to you on this today🙏

[2020-01-28 14:51] nanspro commented on #42
@andytudhope sure will have look in the morning! :+1:

[2020-01-29 10:19] iamonuwa commented on #74
Store checksum addresses I think is the best bet.

[2020-01-30 08:18] nanspro commented on #42
@andytudhope could you help me with accessing the new data from ipfs hashes. Subgraph founds new hashes but i can't view the content on ipfs.status.im/{hash} for hashes like `QmfMx6kvs4bandCC76NLUgWJ63PaA5GyZ3w1PzpXxE1PVc` , `QmfCbEDwZ7sVSzcmivp3WvKd9pcKHhmCXiFwFuuQJmhPhs`.

I have also asked the graph team to pin ipfs.status.im:443 to their node so that we can resolve ipfs hashes but that will wo

[2020-01-30 10:15] andytudhope commented on #42
Hey @jakubgs is this data accessible from our cluster? Or will you need to wave your magic wand to make it so?

[2020-01-30 10:26] jakubgs commented on #42
Ah, you're right. I did pin all the images but I forgot that Dapp metadata is also stored on IPFS as JSON. I will have to go and fetch the JSON data in the right format and upload it to our IPFS cluster.

I'll try doing that this week. Here's the issue: https://github.com/status-im/infra-ipfs/issues/4

[2020-01-30 15:45] andytudhope commented on #74
OK, let's do it.

1. Can you replicate the issue?
2. How long do you estimate it will take in hours?

[2020-01-31 12:41] jakubgs commented on #42
In https://github.com/status-im/infra-ipfs/issues/4 I managed to update the hashes to proper ones and uploaded the matadata to IPFS for https://dev.dap.ps/ but that broke "Highest Ranked" dapps view because all have `sntValue` of `0`, except one I added after that.

Maybe someone can help me figure out what is going on.

[2020-02-12 14:58] jakubgs commented on #42
In https://github.com/status-im/infra-ipfs/issues/4 and https://github.com/dap-ps/discover/pull/76 I've made sure that `ipfaHash` is always set to the correct IPFS content hash. The `hash` field will contain and incorrect hash for older Dapps because of legacy reasons due to how the contract identifies the Dapps.

[2020-02-14 10:30] andytudhope commented on #42
Hey @nanspro - can you try again, using the `ipfsHash` field, which should be correct, up-to-date and accessible for all the DApps now.

[2020-02-14 12:14] andytudhope commented on #42
@nanspro let's work here: https://github.com/dap-ps/graph

Basically, when `hash == ipfsHash` we're all good. When `hash != ipfsHash`, then it is a legacy DApp and we need to fetch it's info using the `ipfsHash`, even though what is coming from the contract will match what is in the `hash` field not the `ipfsHash` one. I'm not actually sure how to get around this, as there is (in my mind) no good

[2020-02-14 13:17] jakubgs commented on #42
Well, the service would have to call https://dap.ps/metadata/all and find the DApp based on the key which is the legacy hash, and take the correct hash from `ipfsHash`, like so:
[code]

[2020-02-14 15:40] andytudhope commented on #42
The primary goal here is to get the info out the contract and nowhere else, so that it really is decentralised and does not rely on anyone's service for correctness. However, I don't see that being a possibility, unless every DApp were to update their metadata themselves, which is not really an option at this time.

[2020-02-15 10:38] jakubgs commented on #42
Or you can hardcode the legacy hashes into the data collecting software...

[2020-02-16 17:34] nanspro commented on #42
@andytudhope i'll take a look at it again :+1:

[2020-02-28 00:19] nanspro commented on #42
Sorry guys got really caught up with mid-sems and lot of work from my internship. I'll get time on this weekend, so will look into this.

[2020-02-28 09:28] nanspro commented on #42
Okay so a lot happened here. Lemme make sure i get this right, because the image urls were changed the ipfs hashes were changed but from the contract i can only fetch the old ipfsHash so i have two options:
1. Get new hashes from the `ipfsHash` field by requesting this url https://dap.ps/metadata/all. I def don't like this way as it's a very centralized way of fetching data and defeats the whole p

[2020-02-28 09:48] jakubgs commented on #42
No, you don't need the 2nd step. The way it work is that `hash` contains either the old hash and `ipfsHash` contains the new hash after. The other case is that the dapps that were created after the fix will have both `hash` and `ipfsHash` set to the same value.

The contracts contain the old hashes for dapps created before fix and new correct hashes for dapps created after that. The reason why the

[2020-03-09 04:53] nanspro commented on #42
@jakubgs so the hashes that were incorrect, i'll have to use their ipfsHash to obtain the data from, right? I can see that a lot of hashes are incorrect (10-12 i think or more) so the only way i see is hardcoding their new values in the graph so that once the graph came across a hash which is incorrect, it'll use the new value.
Like this
[code]
Right now i am manually checking which hashes are wro

[2020-03-09 04:55] nanspro commented on #42
Like this isn't working http://ipfs.status.im/QmfTABxDjZNrgeoGLuCSK44cNEWFmXPaKh2iBMPoMBqgPa but works with new hash http://ipfs.status.im/Qmc7pVDcu2GpgGsHfCxwDPYjBYvmCYK9DVwxpnctTs4A12

[2020-03-09 05:02] nanspro commented on #42
@andytudhope

I can't think of any way either except replacing incorrect hashes with the correct ones manually.
Also i'll have to manually sync these hashes with graph node as of now because as graph team told me:

So in the future we'll have to regularly sync status's node with graph node. It's just a script but still without syncing it won't work(graph won't be able to fetch the data from ipfs)

[2020-03-12 08:50] nanspro commented on #42
@jakubgs @andytudhope any updates on this? I don't think there's much to left, i am available to wrap it up whenever you are free.  But i am still unclear on some things so can't go ahead on my own :disappointed:

[2020-03-12 15:25] jakubgs commented on #42
Yes, old hashes were never properly pinned. Also the data was uploaded incorrectly, which is why the content hash has changed.

You mean by hardcoding a map in the service? If it's dumb and it works it's not dumb.

That's not an issue, I can do that. I assume if we just run a daily script to sync it with TheGraph cluster it would be enough?

[2020-03-12 16:50] andytudhope commented on #42
Agree with the "If it's dumb and it works it's not dumb" comment. jakubs gist should help with creating a hardcoded map: https://gist.github.com/jakubgs/82ec4dde8687a565b1a5c16341c28660

Daily script FTW as far as I am concerned.

[2020-03-12 18:01] nanspro commented on #42
@jakubgs @andytudhope

yeah i am gonna hardcode the hash values and then sync all hashes with graph node, that should work!!

[2020-03-12 19:14] jakubgs commented on #42
Working on this in https://github.com/status-im/infra-ipfs/issues/5 but it doesn't seem to work so far.

[2020-03-13 21:23] jakubgs commented on #42
It should be synced.

[2020-03-13 21:26] nanspro commented on #42
@jakubgs unable to open the logs for my subgraph (https://thegraph.com/explorer/subgraph/nanspro/discover?version=current) talking to graph team about this, also there are so many old hashes present here https://dap.ps/metadata/all so i am putting if statements for them but there are too many lol

[2020-03-13 21:26] jakubgs commented on #42
Why would you do if statements? Don't you know what a map is?

[2020-03-13 21:30] nanspro commented on #42
ohh i totally forgot (sorry not used to typescript). Yeah will do map

[2020-03-13 21:41] nanspro commented on #42
@jakubgs i can see around 100 hashes with new ipfshashes, do you have any idea on replacing them rather than me putting each old hash from https://dap.ps/metadata/all and setting it's new value to ipfsHash. I can do that but just wondering if there's any better way?

[2020-03-13 21:48] jakubgs commented on #42
Sounds about right:
[code]
[code]

There is no better way, we can't replace them in the DB because they have to match the old fucked up hashes in the contract. You can learn about why that is in https://github.com/status-im/infra-ipfs/issues/4.

[2020-03-13 23:11] nanspro commented on #42
@jakubgs @andytudhope the subgraph is synced and working now. Will push my code to repo and create a PR now

[2020-03-16 17:00] #42 closed, assigned to nobody

[2022-02-21 14:12] churik opened #110 "Dap.ps store is not loading (categories, high-ranked etc)"
# Bug Report

## Problem

#### Expected behavior

can see dapps in status browser

#### Actual behavior
https://user-images.githubusercontent.com/4557972/154922136-cac9fdc2-6598-4e9d-a8e3-11d695e107da.mp4

### Additional Information

- Status version:all
- Operating System: Android, iOS

[comment]: # (Please, add logs/notes if necessary)

[2022-05-23 14:52] Marudny opened #112 "Discover app compilation on node 14"
As mentioned here: https://github.com/dap-ps/infra-dapps/issues/22 Elastic Beanstalk is only in V2 version.
According to the https://docs.aws.amazon.com/elasticbeanstalk/latest/platforms/platforms-retiring.html#platforms-retiring.nodejs the lowest supported version of nodejs is ` 14.0.0` hence is required to compile `discover` in `nodejs 14` env.

[2022-05-23 14:57] Marudny commented on #112
It's possible to create nodejs virtual env similar to python one.
[code]

I've created `nodejs 12.22.11` env to check how compiling process looks like.

[2022-05-23 15:04] Marudny commented on #112
Ok, as expected it doesn't compile successfully:
[code]

Let see how it works on `node 14`.

[code]

Well, it's so old that `python2` is required... let's create venv with python2 and try again.

[code]
Got progress.

[2022-05-23 15:07] Marudny commented on #112
https://github.com/trufflesuite/ganache/issues/568

It's a bug in a `ganache-cli`, installing newer, beta version should help: `npm install ganache-core@beta -E`
After installing newer version it's required to install required dependencies by calling `npm install`

[2022-05-23 15:54] Marudny commented on #112
Faced the same error on `Node 14` env.

[code]

[2022-05-23 16:05] jakubgs commented on #112
This is not an error we care about:
[code]
We just want to compile the solidity contract, we don't care about deploying it. We just need the ABI to be able to build the app.

[2022-05-24 07:44] jakubgs commented on #112
You can get the logs for failed deployment from here:

![image](https://user-images.githubusercontent.com/2212681/169976656-19fa818f-0e27-4703-9965-6fc4ef413fd4.png)

Here's the failure in `/var/log/nodejs/nodejs.log`:
[code]

[2022-05-24 10:03] jakubgs commented on #112
In order to get things building locally I used a Nix shell like this:
[code]
With this `shell.nix` config:
[code]
I also had to upgrade `node-sass` or compilations would fail, this also involved purging `yarn.lock`:
[code]
Newest still supports NodeJS 12: https://github.com/sass/node-sass/releases/tag/v7.0.1

But it fails at build time:
[code]

[2022-05-24 13:17] jakubgs commented on #112
Actually. After purging all of `~/.yarn` and `~/.cache/yarn` and `node_modules` and build in that Nix shell from above without changing `package.json` it does build successfully:
[code]
But the question is, will it work.

[2022-05-24 13:21] jakubgs commented on #112
Started a new deployment:

![image](https://user-images.githubusercontent.com/2212681/170045054-c2485e83-58cf-4bd3-ab59-8e73db30cc2c.png)

[2022-05-24 13:36] jakubgs commented on #112
The API works, as far as I can tell:
[code]
Which matches the MongoDB contents:
[code]
So that's nice.

[2022-05-24 13:36] jakubgs commented on #112
And yet it fails to deploy:

![image](https://user-images.githubusercontent.com/2212681/170048351-1466b38e-34b6-4bc3-8327-e337753e2119.png)

[2022-05-24 13:39] jakubgs commented on #112
I started a rebuild for shits and giggles:

![image](https://user-images.githubusercontent.com/2212681/170049121-93ffa164-ddbc-4c37-ac45-7c80ecc6ff2a.png)

So don't be surprised.

[2022-05-24 15:34] jakubgs commented on #112
I logged into the current `dev` EB host and found that the `DeprecationWarning` line are there, but that's it:
[code]

[2022-05-27 08:25] Marudny commented on #112
I'm wondering if your `nix` env is really that pure. As I'm not using `nix` I tried to use `docker` to build the app with the following `Dockerfile`:
[code]
And can build prod app without issues:

[code]

However building the `dev` version ends with the following error:
[code]

[2022-05-27 08:43] jakubgs commented on #112
It's not if you don't use the `--pure` flag: https://nixos.org/manual/nix/stable/command-ref/nix-shell.html#options

[2022-05-27 08:45] jakubgs commented on #112
Also, only `nix-build` runs in a sandbox, `nix-shell` just creates a shell that still exists within the context of your environment.

[2022-05-27 10:11] jakubgs commented on #112
I've managed to build the app using this branch:

* https://github.com/dap-ps/discover/pull/113

It appears to work without errors:
[code]
The secret sauce was running `yarn install` in `back-end` folder(stupid name).

[2022-05-27 10:18] jakubgs commented on #112
And still it fails. Maybe it would be better just to try to make a new env with AL2:

![image](https://user-images.githubusercontent.com/2212681/170681103-a2370c5b-1f48-4205-b405-4b3605e45d92.png)

[2022-05-27 10:22] jakubgs commented on #112
I tested it locally with `yarn server-start` and it runs fine:
[code]

[2022-05-27 10:25] Marudny commented on #112
Yeah, I'm suspecting nginx, which is by default it trying to send traffic to the backend port 5000.
https://docs.amazonaws.cn/en_us/elasticbeanstalk/latest/dg/nodejs-platform-proxy.html

There is no `PORT` variable defined in our env. I will work on that.

Maybe I'm wrong, but as I understand the flow is: `AWS LB -> NGINX Proxy -> NodeJS App`. On the flip side health check in `dev env` is defined

[2022-05-27 10:35] jakubgs commented on #112
https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/nodejs-platform-proxy.html

Also: https://github.com/dap-ps/infra-dapps/blob/d545adceaad51eebca724e17e11b7d878e134067/dev.tf#L5

[2022-05-27 10:36] jakubgs commented on #112
You can try changing the ssh key for EB env so you can access the EB hosts once they get re-created.

[2022-05-27 10:37] Marudny commented on #112
[code]

[2022-05-27 14:53] Marudny commented on #112
Called `npm install --production` in local env, fixed all issues (removed `.bin` directories) and now application has problems with modules - part of them is not visible.

[2022-05-31 09:40] jakubgs commented on #112
I'm seeing the same issue using the pure Nix shell from https://github.com/dap-ps/discover/pull/113:
[code]
And indeed the file is missing from `src/embarkArtifacts/contracts`:
[code]
Maybe someone from the [old Embark team](https://github.com/embarklabs/embark/graphs/contributors) could help you figure this one out.

[2022-06-09 08:57] Marudny commented on #112
Thanks to the Richard, we are able to generate `Discover.js` file and compile application.

Steps that Richard took:
1. Installed `node v10.17.0`,  `npm install -g embark@5.1.0`, `npm install -g ganache-cli`
2. Hardcoded in `contracts.js` in development these addresses from `shared.testnet.chains.json`:
[code]
3. ran `embark run`  to generate the .js files

[2022-06-09 08:58] Marudny commented on #112
Anyway, app created by `yarn` still fails.

[code]

[2022-06-09 09:37] Marudny commented on #112
That app cannot be compiled on `node 12`:

`npm install` throws:
[code]

https://github.com/nodejs/node-gyp/issues/1941

Let's try to build it on `node 10` or update `node-gyp` package.

[2022-06-09 16:04] Marudny commented on #112
Ok, I've built app using `node 10` and `npm`. App is currently deployed to AWS. Deployment went fine, but app is throwing:

[code]

It starts without issues on my desktop:

[code]

[2022-06-10 15:49] jakubgs commented on #112
Would be good to upload the missing `Discover*.js` files Richard built successfully:

* [Discover.js.txt](https://github.com/dap-ps/discover/files/8880326/Discover.js.txt)
* [DiscoverKyberSwap.js.txt](https://github.com/dap-ps/discover/files/8880327/DiscoverKyberSwap.js.txt)

Added `.txt` to cheat a bit and get GitHub to accept the files.

[2022-06-13 10:40] jakubgs commented on #112
We can debug loading of Node.JS modules using these methods:

* https://nodejs.org/api/modules.html#requireresolvepathsrequest
* https://nodejs.org/api/modules.html#requireresolverequest-options

And check what paths Node.JS is checking when searching for the `./config` from:
https://github.com/dap-ps/discover/blob/97bfb18d67caa02bae00bde3afbc2c6006815ab7/back-end/server.js#L2

[2022-06-13 13:01] jakubgs commented on #112
As you've said, the app loads via: http://dev-dap-ps-app.eba-6uufvgb2.us-east-1.elasticbeanstalk.com/
But I'm seeing this error:
[code]
I have seen this before, but it was transitory:

* https://github.com/dap-ps/infra-dapps/issues/16

But I verified just in case that the default Ropsten Infura endpoint works, and it does:
[code]

[2022-06-13 13:08] jakubgs commented on #112
The error appears to come from here:
[code]
https://github.com/ChainSafe/web3.js/blob/e68246e2939768de8abc196f7d41e1effaf4f7cd/packages/web3-eth-abi/src/index.js#L237-L246

Which appears to be triggered by this call to `DiscoverContract.methods.getDAppsCount()`:
https://github.com/dap-ps/discover/blob/97bfb18d67caa02bae00bde3afbc2c6006815ab7/src/common/blockchain/services/discover-service/discover